/*Here is where you style everything!
Reference your projects from the summer
If you don't have a summer project, let me know!*/

body {
    background-color: blueviolet;
}

h1 {
    color: pink;
}
p {
    color: blue;
}
